#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  display: block;
  justify-self: end;
  width: 140px;
  height: 140px;
  background: no-repeat;
  border: none;
  outline:none;
}

.clicked-button {
  transform: scale(0.9);
  transition: all 0.7s;
}


#newGame {
  margin: 10px auto;
}

#rock {
  background-image: url(img/stones.png);
  background-position: 1px 0;
}

#paper {
  background-image: url(img/copy.png);
  background-position: 0 1px;
}

#scissors {
  background-image: url(img/scissors.png);
  background-position: 1px 1px;
}




