.container{
  height: 100vh;
  background-color: #dcedff;
}

img {
  margin: 0 auto;
  width: 400px;
}

button {
  display: inline-block;
  width: 120px;
  height: 20px;
  background-image: no-repeat;
  border-radius: 25px;
  
}




